Link com o repositório base do curso: https://github.com/alura-cursos/ia-datascience-dataviz/tree/main

In [1]:
url_clientes = 'https://raw.githubusercontent.com/alura-cursos/ia-datascience-dataviz/refs/heads/main/dados/zoop_clientes.csv'
url_vendas = 'https://raw.githubusercontent.com/alura-cursos/ia-datascience-dataviz/refs/heads/main/dados/zoop_vendas.csv'

In [2]:
import pandas as pd

In [3]:
clientes = pd.read_csv(url_clientes)
clientes.head()

,ID_compra,ID_cliente,cidade,uf,regiao,idade,sexo_biologico,cashback,avaliacao_compra
0,904,8972,Natal,Rio Grande do Norte,Nordeste,49,Masculino,Não,9
1,4613,5120,São Paulo,São Paulo,Sudeste,49,Feminino,Não,9
2,5579,1847,São Paulo,São Paulo,Sudeste,24,Feminino,Não,8
3,2405,2846,São Paulo,São Paulo,Sudeste,38,Feminino,Sim,7
4,2485,2715,Salvador,Bahia,Nordeste,30,Feminino,Não,10

In [4]:
vendas = pd.read_csv(url_vendas)
vendas.head()

,ID_compra,data,horario,categoria,preco_unitario,quantidade,frete,metodo_pagamento
0,6,2023-01-03,20:40,Eletrônicos,4457.9,4,713.26,Boleto
1,5,2023-01-03,21:48,Ferramentas e construção,115.9,1,0.00,PIX
2,9,2023-01-03,17:08,Beleza e cuidados pessoais,68.9,2,13.78,Cartão de Crédito
3,4,2023-01-03,14:29,Ferramentas e construção,80.9,5,40.45,PIX
4,8,2023-01-03,18:02,Beleza e cuidados pessoais,165.0,4,0.00,PIX

## Base de clientes
# Prompt

Vamos atuar como analista de dados de um e-commerce. Recebemos duas bases de dados com os dados dos clientes e das vendas em 2023, respectivamente.

Neste primeiro momento, vamos explorar a base clientes no formato de um DataFrame, chamado "clientes". Ela contém dados dos clientes que realizaram comprar na loja virtual, sendo eles: ID da compra, ID do cliente, a cidade, estado e região da compra, idade, sexo biológico, se participam do programa de cashback e avaliação da compra.

Queremos fazer uma breve exploração dos dados para compreender um pouco sobre eles. Lembrando que os dados desta base já estão limpos e tratados. Construa um código para executar esta etapa usando o Python.

Não é necessário utilizar "print()" para mostrar o resultado das consultas.

In [5]:
# Visualizar as primeiras linhas do DataFrame
clientes.head()

,ID_compra,ID_cliente,cidade,uf,regiao,idade,sexo_biologico,cashback,avaliacao_compra
0,904,8972,Natal,Rio Grande do Norte,Nordeste,49,Masculino,Não,9
1,4613,5120,São Paulo,São Paulo,Sudeste,49,Feminino,Não,9
2,5579,1847,São Paulo,São Paulo,Sudeste,24,Feminino,Não,8
3,2405,2846,São Paulo,São Paulo,Sudeste,38,Feminino,Sim,7
4,2485,2715,Salvador,Bahia,Nordeste,30,Feminino,Não,10

In [6]:
# Estrutura geral do DataFrame (tipos de dados e valores não nulos)
clientes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6169 entries, 0 to 6168
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID_compra         6169 non-null   int64
 1   ID_cliente        6169 non-null   int64
 2   cidade            6169 non-null   object
 3   uf                6169 non-null   object
 4   regiao            6169 non-null   object
 5   idade             6169 non-null   int64
 6   sexo_biologico    6169 non-null   object
 7   cashback          6169 non-null   object
 8   avaliacao_compra  6169 non-null   int64
dtypes: int64(4), object(5)
memory usage: 433.9+ KB

In [7]:
# Estatísticas descritivas para variáveis numéricas
clientes.describe()

         ID_compra   ID_cliente        idade  avaliacao_compra
count  6169.000000  6169.000000  6169.000000       6169.000000
mean   3085.000000  5461.475280    38.260010          8.443670
std    1780.981237  2610.959977     9.838951          1.730584
min       1.000000  1005.000000    18.000000          0.000000
25%    1543.000000  3148.000000    31.000000          8.000000
50%    3085.000000  5436.000000    38.000000          9.000000
75%    4627.000000  7748.000000    45.000000          9.000000
max    6169.000000  9999.000000    70.000000         10.000000

In [8]:
# Estatísticas descritivas para variáveis categóricas
clientes.describe(include='object')

           cidade         uf   regiao sexo_biologico cashback
count        6169       6169     6169           6169     6169
unique         96         27        5              2        2
top     São Paulo  São Paulo  Sudeste       Feminino      Não
freq          458       1500     2666           3371     3557

In [11]:
# Distribuição de clientes por região
clientes['regiao'].value_counts()

regiao
Sudeste         2666
Nordeste        1882
Sul              819
Centro-Oeste     495
Norte            307
Name: count, dtype: int64

In [13]:
# Distribuição de clientes por estado
clientes['uf'].value_counts()

uf
São Paulo              1500
Rio de Janeiro          570
Minas Gerais            478
Bahia                   453
Pernambuco              411
Paraná                  383
Rio Grande do Sul       329
Ceará                   284
Paraíba                 279
Distrito Federal        263
Rio Grande do Norte     244
Goiás                   120
Espírito Santo          118
Pará                    111
Santa Catarina          107
Piauí                    83
Mato Grosso              58
Mato Grosso do Sul       54
Amazonas                 51
Maranhão                 45
Sergipe                  43
Alagoas                  40
Roraima                  38
Amapá                    35
Rondônia                 32
Acre                     30
Tocantins                10
Name: count, dtype: int64

In [10]:
# Distribuição por sexo biológico
clientes['sexo_biologico'].value_counts()

sexo_biologico
Feminino     3371
Masculino    2798
Name: count, dtype: int64

In [14]:
# Participação no programa de cashback
clientes['cashback'].value_counts()

cashback
Não    3557
Sim    2612
Name: count, dtype: int64

In [16]:
# Distribuição das avaliações das compras
clientes['avaliacao_compra'].value_counts().sort_index()

avaliacao_compra
0       32
1       33
2       58
3       60
4      113
5       90
6      135
7      689
8      923
9     2519
10    1517
Name: count, dtype: int64

In [17]:
# Análise básica da idade
clientes['idade'].describe()

count    6169.000000
mean       38.260010
std         9.838951
min        18.000000
25%        31.000000
50%        38.000000
75%        45.000000
max        70.000000
Name: idade, dtype: float64

## Base de vendas
# Prompt:
Agora vamos explorar a base de vendas no formato de um DataFrame, chamado "vendas". Ela contém dados das vendas do e-commerce, sendo eles: ID da compra, data da compra, horário da compra, categoria do produto, preco unitário do produto, quantidade vendida, frete e o método do pagamento.

Queremos fazer uma breve exploração dos dados para compreender um pouco sobre eles. Lembrando que os dados desta base também já estão limpos e tratados. Construa um código para executar esta etapa usando o Python.

In [18]:
# Visualizar as primeiras linhas do DataFrame
vendas.head()

,ID_compra,data,horario,categoria,preco_unitario,quantidade,frete,metodo_pagamento
0,6,2023-01-03,20:40,Eletrônicos,4457.9,4,713.26,Boleto
1,5,2023-01-03,21:48,Ferramentas e construção,115.9,1,0.00,PIX
2,9,2023-01-03,17:08,Beleza e cuidados pessoais,68.9,2,13.78,Cartão de Crédito
3,4,2023-01-03,14:29,Ferramentas e construção,80.9,5,40.45,PIX
4,8,2023-01-03,18:02,Beleza e cuidados pessoais,165.0,4,0.00,PIX

In [19]:
# Informações gerais sobre a estrutura dos dados
vendas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6169 entries, 0 to 6168
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID_compra         6169 non-null   int64
 1   data              6169 non-null   object
 2   horario           6169 non-null   object
 3   categoria         6169 non-null   object
 4   preco_unitario    6169 non-null   float64
 5   quantidade        6169 non-null   int64
 6   frete             6169 non-null   float64
 7   metodo_pagamento  6169 non-null   object
dtypes: float64(2), int64(2), object(4)
memory usage: 385.7+ KB

In [22]:
vendas['data'] = pd.to_datetime(vendas['data'], format='%Y-%m-%d')

vendas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6169 entries, 0 to 6168
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID_compra         6169 non-null   int64
 1   data              6169 non-null   datetime64[ns]
 2   horario           6169 non-null   object
 3   categoria         6169 non-null   object
 4   preco_unitario    6169 non-null   float64
 5   quantidade        6169 non-null   int64
 6   frete             6169 non-null   float64
 7   metodo_pagamento  6169 non-null   object
dtypes: datetime64[ns](1), float64(2), int64(2), object(3)
memory usage: 385.7+ KB

In [20]:
# Estatísticas descritivas das variáveis numéricas
vendas.describe()

         ID_compra  preco_unitario   quantidade        frete
count  6169.000000     6169.000000  6169.000000  6169.000000
mean   3085.000000      873.234738     3.004863   119.233832
std    1780.981237     1852.064342     1.420725   366.149225
min       1.000000        2.900000     1.000000     0.000000
25%    1543.000000       44.900000     2.000000     0.320000
50%    3085.000000       93.900000     3.000000     7.550000
75%    4627.000000      221.900000     4.000000    29.240000
max    6169.000000     8000.000000     5.000000  4521.540000

In [23]:
# Estatísticas descritivas das variáveis categóricas
vendas.describe(include='object')

       horario            categoria   metodo_pagamento
count     6169                 6169               6169
unique     659                    8                  4
top      23:56  Alimentos e bebidas  Cartão de Crédito
freq        26                 1495               2851

In [25]:
# Quantidade de vendas por categoria de produto
vendas['categoria'].value_counts()

categoria
Alimentos e bebidas           1495
Beleza e cuidados pessoais    1062
Casa e limpeza                1041
Eletrodomésticos               665
Eletrônicos                    580
Papelaria e escritório         551
Ferramentas e construção       474
Livros                         301
Name: count, dtype: int64

In [27]:
# Distribuição dos métodos de pagamento
vendas['metodo_pagamento'].value_counts()

metodo_pagamento
Cartão de Crédito    2851
PIX                  2244
Cartão de Débito      547
Boleto                527
Name: count, dtype: int64

In [26]:
# Análise básica do preço unitário
vendas['preco_unitario'].describe()

count    6169.000000
mean      873.234738
std      1852.064342
min         2.900000
25%        44.900000
50%        93.900000
75%       221.900000
max      8000.000000
Name: preco_unitario, dtype: float64

In [28]:
# Análise da quantidade vendida por pedido
vendas['quantidade'].describe()

count    6169.000000
mean        3.004863
std         1.420725
min         1.000000
25%         2.000000
50%         3.000000
75%         4.000000
max         5.000000
Name: quantidade, dtype: float64

In [29]:
# Análise do valor do frete
vendas['frete'].describe()

count    6169.000000
mean      119.233832
std       366.149225
min         0.000000
25%         0.320000
50%         7.550000
75%        29.240000
max      4521.540000
Name: frete, dtype: float64

In [31]:
# Verificar volume de vendas por data
vendas['data'].value_counts().sort_index()

data
2023-01-03     9
2023-01-04    11
2023-01-05    10
2023-01-06     9
2023-01-07    11
              ..
2023-12-27    39
2023-12-28    36
2023-12-29    39
2023-12-30    51
2023-12-31    57
Name: count, Length: 304, dtype: int64

In [32]:
# Verificar volume de vendas por horário
vendas['horario'].value_counts().sort_index()

horario
00:00     9
00:01     8
00:02    10
00:03    16
00:04    14
         ..
23:55    18
23:56    26
23:57    16
23:58    13
23:59    19
Name: count, Length: 659, dtype: int64

# Prompt:
Vamos agora unir as duas bases do nosso projeto em uma só utilizando como chave a coluna "ID_compra". Além disso, vamos organizar as colunas na seguinte sequência:

- ID_compra
- data
- horario
- categoria
-preco_unitario
- quantidade
- frete
- metodo_pagamento
- ID_cliente
- idade
- sexo_biologico
- cidade
- uf
- regiao
- cashback
- avaliacao_compra
<br>
Construa um código para executar esta etapa usando o Python e a biblioteca Pandas.

In [34]:
#import pandas as pd

# União das bases utilizando ID_compra como chave
df = pd.merge(
    vendas,
    clientes,
    on='ID_compra',
    how='inner'
)

# Reorganização das colunas conforme sequência solicitada
df = df[
    [
        'ID_compra',
        'data',
        'horario',
        'categoria',
        'preco_unitario',
        'quantidade',
        'frete',
        'metodo_pagamento',
        'ID_cliente',
        'idade',
        'sexo_biologico',
        'cidade',
        'uf',
        'regiao',
        'cashback',
        'avaliacao_compra'
    ]
]

# Visualização das primeiras linhas do DataFrame final
df.head()

,ID_compra,data,horario,categoria,preco_unitario,quantidade,frete,metodo_pagamento,ID_cliente,idade,sexo_biologico,cidade,uf,regiao,cashback,avaliacao_compra
0,6,2023-01-03,20:40,Eletrônicos,4457.9,4,713.26,Boleto,6149,30,Masculino,Porto Alegre,Rio Grande do Sul,Sul,Sim,10
1,5,2023-01-03,21:48,Ferramentas e construção,115.9,1,0.00,PIX,9491,36,Masculino,São Paulo,São Paulo,Sudeste,Sim,8
2,9,2023-01-03,17:08,Beleza e cuidados pessoais,68.9,2,13.78,Cartão de Crédito,5288,39,Feminino,Porto Velho,Rondônia,Norte,Não,7
3,4,2023-01-03,14:29,Ferramentas e construção,80.9,5,40.45,PIX,9679,35,Masculino,Recife,Pernambuco,Nordeste,Sim,9
4,8,2023-01-03,18:02,Beleza e cuidados pessoais,165.0,4,0.00,PIX,1380,50,Masculino,São Paulo,São Paulo,Sudeste,Não,9

# Prompt

Agora com o nosso "df" já construído por meio das duas bases do projeto, vamos iniciar um novo processo. Queremos iniciar a etapa da geração dos visuais que possam auxiliar na análise do faturamento ao longo do ano, perfil do cliente e outros dados que possam ser relevantes à análise e construção do nosso storytelling.

As colunas de "df" são:

- ID_compra: número único atribuído a compra realizada, no formato int
- data: data da compra, no formato datetime
- horario: horário da compra no formato object
- categoria: categoria do produto, no formato object
- preco_unitario: preço de uma unidade do produto, no formato float
- quantidade: quantidade vendida do produto, no formato int
- frete: frete a ser pago no total da compra, no formato float
- metodo_pagamento: método de pagamento da compra, no formato object
- ID_cliente: número único atribuído ao cliente, no formato int
- idade: idade do cliente, no formato int
- sexo_biologico: sexo biológico do cliente, no formato object
- cidade: cidade do cliente, no formato object
- uf: unidade federativa do cliente, no formato object
- regiao: região do cliente, no formato object
- cashback: se o cliente participa ou não do programa de cashback da loja, no formato object
- avaliacao_compra: avaliação do cliente pela compra, no formato int
<br>
O objetivo é abstrair e buscar relações para construir visuais interessantes para a análise dos dados dos clientes e vendas da Zoop.

Com base nas informações fornecidas, quais tipos de visualizações seriam úteis para atingir o objetivo de analisar os dados?

# Resposta do ChatGpt

# Análise Exploratória e Visualização de Dados — E-commerce Zoop

Com o DataFrame `df` consolidado, inicia-se a etapa de **geração de visualizações** com o objetivo de apoiar a análise de faturamento, perfil dos clientes e comportamento de compra ao longo de 2023.  
Esses visuais servirão como base para a construção do **storytelling analítico** do e-commerce Zoop.

---

## 1. Análise de Faturamento e Performance de Vendas

### 1.1 Faturamento ao longo do tempo (Ano / Mês)
**Visual sugerido:**  
- Gráfico de linha (série temporal)

**Métrica:**  
- Faturamento = `(preco_unitario × quantidade) + frete`

**Insights esperados:**  
- Identificação de sazonalidade  
- Meses com maior e menor volume de vendas  
- Tendência de crescimento ou retração ao longo do ano  

---

### 1.2 Faturamento por categoria de produto
**Visual sugerido:**  
- Gráfico de barras  
- Treemap (para visão executiva)

**Insights esperados:**  
- Categorias mais rentáveis  
- Concentração de faturamento  
- Oportunidades de diversificação do portfólio  

---

### 1.3 Ticket médio por período ou categoria
**Visual sugerido:**  
- Gráfico de barras  
- Boxplot

**Insights esperados:**  
- Valor médio gasto por compra  
- Comparação entre categorias  
- Identificação de produtos de maior valor agregado  

---

## 2. Perfil e Comportamento do Cliente

### 2.1 Distribuição etária dos clientes
**Visual sugerido:**  
- Histograma  
- Boxplot

**Insights esperados:**  
- Faixas etárias predominantes  
- Perfil etário do público consumidor  
- Subsídios para estratégias de marketing segmentado  

---

### 2.2 Perfil de clientes por sexo biológico
**Visual sugerido:**  
- Gráfico de barras  
- Gráfico de rosca (donut)

**Insights esperados:**  
- Participação relativa por sexo  
- Diferenças no comportamento de compra  

---

### 2.3 Distribuição geográfica dos clientes
**Visual sugerido:**  
- Gráfico de barras por região  
- Mapa geográfico (quando aplicável)

**Insights esperados:**  
- Regiões com maior concentração de clientes  
- Potenciais mercados para expansão  
- Indicativos indiretos de impacto logístico  

---

## 3. Cashback e Fidelização

### 3.1 Comparação de faturamento: clientes com cashback vs. sem cashback
**Visual sugerido:**  
- Gráfico de barras  
- Boxplot

**Insights esperados:**  
- Impacto do programa de cashback no faturamento  
- Diferença de comportamento entre clientes fidelizados e não fidelizados  

---

### 3.2 Frequência de compras por tipo de cliente
**Visual sugerido:**  
- Gráfico de barras

**Insights esperados:**  
- Indicativos de retenção  
- Efetividade do programa de fidelidade  

---

## 4. Avaliação da Experiência do Cliente

### 4.1 Distribuição das avaliações das compras
**Visual sugerido:**  
- Gráfico de barras  
- Histograma

**Insights esperados:**  
- Nível geral de satisfação  
- Concentração de avaliações positivas ou negativas  

---

### 4.2 Avaliação média por categoria ou região
**Visual sugerido:**  
- Gráfico de barras  
- Heatmap

**Insights esperados:**  
- Categorias com maior incidência de problemas  
- Regiões com melhor ou pior percepção do cliente  
- Apoio à tomada de decisão operacional  

---

## 5. Métodos de Pagamento e Jornada de Compra

### 5.1 Distribuição dos métodos de pagamento
**Visual sugerido:**  
- Gráfico de barras  
- Gráfico de rosca

**Insights esperados:**  
- Preferências dos clientes  
- Dependência de determinados meios de pagamento  

---

### 5.2 Horário das compras
**Visual sugerido:**  
- Gráfico de barras  
- Heatmap (horário × dia)

**Insights esperados:**  
- Horários de maior conversão  
- Base para definição de campanhas promocionais  

---

## 6. Análises de Relação e Correlação

### 6.1 Correlação entre preço, quantidade e avaliação
**Visual sugerido:**  
- Heatmap de correlação  
- Scatter plot

**Insights esperados:**  
- Sensibilidade ao preço  
- Relação entre valor pago e satisfação do cliente  

---

## Conclusão Analítica

As visualizações propostas permitem responder a questões estratégicas como:

- De onde vem o faturamento da Zoop?  
- Quem são os clientes mais relevantes para o negócio?  
- Quais categorias e regiões impulsionam as vendas?  
- O programa de cashback gera valor real?  
- Como a experiência do cliente impacta o desempenho comercial?

Esses insights servem como base para a construção de dashboards e análises mais aprofundadas, apoiando a tomada de decisão orientada por dados.